<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <form>
        <label for="cname">Customer name:</label><br>
        <input type="text" id="cname" name="cname" required><br>
        <label for="number">RA number:</label><br>
        <input type="text" id="number" name="number" required><br>
        <label for="rdate">First name:</label><br>
        <input type="text" id="fname" name="fname" required><br>
        <label for="fname">return date:</label><br>
        <input type="text" id="rdate" name="rdate" required><br>
         <label for="color">color:</label><br>
        <input type="text" id="color" name="color"><br>
         <label for="style">Style:</label><br>
        <input type="text" id="style" name="style" required><br>
         <label for="size">size:</label><br>
        <input type="text" id="size" name="size" required><br>   
        <label for="reason">Reason:</label><br>

        <select id="reason" name="reason" required>
            <option value="Badsizing">Bad Sizing/Fit</option>
            <option value="Damage">Damage</option>
            <option value="Defetive">Defetive</option>
            <option value="WrongItem">WrongItem</option>
            <option value="wrongqty">Wrong quantity shipped</option>
            <option value="other">other</option>
        </select><br>
            <input type="submit" value="submit"/>


          
           
    

       </form>
        
        
    </body>
</html>